.checked{
    background-color: rgb(125, 255, 251);
}
.colors{
    padding: 0 0.3rem;
    margin: 0.3rem;
    border: 1px solid black;  
}
.sizes{
    margin: 0.3rem;
    border: 1px solid black;  
    padding: 0 0.3rem;
}
label{
    margin: 0.5rem;
}