* {
    /* border:1px solid red; */
}

.home {
    margin: 0 10vw;
}

.sec {
    margin: 5vw 3vw;
}

.images {
    display: grid;
    justify-content: space-around;
    gap: 1.5rem;
}

.images img{
    cursor: pointer;
}
.heading {
    text-align: center;
    font-size: clamp(12px, 3vw, 2.3rem);
}

.sec-1 .images {
    grid-template-columns: auto auto auto;
}

.sec-2 .images {
    grid-template-columns: auto auto auto auto;
}

.sec-3 .images {
    grid-template-columns: auto auto auto auto;
}

.sec-3 .images img {
    width: 100%;
    height: 80%;
}

.images .about {
    text-align: center;
    font-size: clamp(12px, 2.3vw, 1.2rem);
}

.sec-4 .images {
    display: block;
    column-width: 17vw;
}

.sec-4 .images img {
    margin-top: 2rem;
    width: 100%;
}

.sec-5 .images {
    grid-template-columns: auto auto auto;
    height: fit-content;
}

.sec-5 .images div {

    height: fit-content;
}

.sec-5 .images img {
    margin: auto;
    width: 100%;
    height: 20vw;
}

.images img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.images img:hover {
    scale: 1.03;
}

.about {

}

@media (max-width:600px) {
    .home {
        margin: 0 6vw;
    }

    .sec-2 .images {
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .sec-3 .images {
        grid-template-columns: auto auto;
    }

    .sec-3 {}
}