@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

:root {
    scrollbar-width: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    position: relative;
    margin: 0;
    padding: 0 0.5em;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 300;
    min-width: fit-content;
    border: 1px solid rgb(173, 173, 173);
    background-color: #fefefe;
    color: black;
    border-radius: 4rem;
    box-shadow: 3px 5px 5px 1px rgba(190, 190, 190, 0.54);
    transition: all 0.1s ease;
    font-family: inherit;
}

button:hover {
    scale: 1.04;
}

input[type="number"] {
    width: 40px;
}

.section-heading {
    text-align: center;
}